body{
    margin: 0;
     padding-bottom: 120px;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background-color: red;
    align-items: center;
}

.headerchild {}

.inp {
    background-color: lightgray;
    font-size: 32px;
    padding: 5px;
    border-radius: 21px;
    width: 100%;

}

.footer {
    background-color: rgb(40, 40, 40);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    width: 100%;
    position: fixed;
    
}

.footer>img {
    height: 100px;
}

.article {
    background-color: white;
    border : solid 2px darkgray;
    width: 80%;
    height: 160px;
    margin: auto;
    margin-top : 10px;
    border-radius: 18px;
    box-shadow: 4px 9px 3px darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.gauche {    
    width : 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.milieu {
    width : 80%;
    display : flex;
    flex-direction: column;
    justify-content: left;
    padding : 10px;
}

.droite {
    width : 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}



.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .submit {
    border: 1px #d40707;

} */

input[type="submit"] {
    border: 21px #ff0000;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: white;
    background: #ff0000e8;
}